@import './../../styles/styles.scss';

.paginate{

    ul{
        float: right;
        margin-bottom: 3rem;

        li{

            button{
                @include transition-ease-in-out;

                &:hover{
                    background: $color-success-hover;
                    color: $color-white;
                    border-color: $color-white;
                }

                &.Mui-selected{
                    background: $color-success-hover;
                    color: $color-white;
                    border-color: $color-white;
                }
            }
        }
    }
}