@import './../../styles/styles.scss';

.button__scroll-top{
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
    @include transition-ease-in-out;
    @include circle(2rem);
    @include flexCenter(column);
    color: $color-grey;
    border: 1px solid $color-dark;
    box-shadow: 0px 1px 2px $color-grey;
    z-index: 11;

    &:hover{
        color: $color-white;
        background: $color-success-hover;
        border-color: $color-white;
        box-shadow: none;
    }
}