@mixin responsive($val-width) {
    @media screen and (max-width: $val-width) {
        @content;
    }
}

@mixin flexCenter($val-direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $val-direction;
}

@mixin circle($val) {
    height: $val;
    width: $val;
    border-radius: 50%;
}

@mixin width-height($val-width, $val-height){
    width: $val-width;
    height: $val-height;
}

@mixin transition-ease-in-out {
    transition: all 0.35s ease-in-out;
}

 
@mixin height {
    @media screen and (max-height:660px) {
        @content;
    }
}