@mixin responsive($val-width) {
    @media screen and (max-width: $val-width) {
        @content;
    }
}

@mixin flexCenter($val-direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $val-direction;
}

@mixin circle($val) {
    height: $val;
    width: $val;
    border-radius: 50%;
}

@mixin transition-ease-in-out {
    transition: all 0.3s ease-in-out;
}