$color-dark-blue: #222f3f;
$color-white: #fff;
$color-black: #222;
$color-danger: #dc3545;
$color-success:#4cae4c;
$color-success-hover: #5cb85c;
$color-title: #888;
$color-item: #fcc924;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-md-1: 767px;
$breakpoint-lg: 992px;
$breakpoint-lg-991: 991px;
$breakpoint-xl: 1200px;