$color-dark-blue: #222f3f;
$color-white: #fff;
$color-black: #222;
$color-danger: #dc3545;
$color-success:#4cae4c;
$color-success-hover: #5cb85c;
$color-title: #888;
$color-item: #fcc924;
$color-grey: #5b5b5b;
$border-dark-light: #e5e5e5;
$color-dark-weight: #333;
$color-light: rgb(212, 209, 209);
$color-blue: #1976d2;
$color-blue-hover: rgb(80, 163, 231);
$color-light: #f1fcfa;
$color-border-search: #e8e8e8;
$bg-footer: rgba(0, 0, 0, 0.85);
$color-dark: #7d8997;
$color-time: #78cccd;
$color-black-weight: #090909;

$color-twitter: #1DA1F2;
$color-instagram: #E1306C;
$color-facebook: #4267B2;
$color-linkedin: #0e76a8;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-md-1: 767px;
$breakpoint-lg: 992px;
$breakpoint-lg-991: 991px;
$breakpoint-xl: 1200px;