$color-dark-blue: #222f3f;
$color-white: #fff;
$color-black: #222;
$color-danger: #dc3545;
$color-success:#4cae4c;
$color-success-hover: #5cb85c;
$color-title: #888;
$color-item: #fcc924;
$color-grey: #5b5b5b;
$border-dark-light: #e5e5e5;
$color-dark-weight: #333;
$color-light: rgb(212, 209, 209);
$color-blue: #1976d2;
$color-blue-hover: rgb(80, 163, 231);
$color-light: #f1fcfa;
$color-border-search: #e8e8e8;
$bg-footer: rgba(0, 0, 0, 0.85);
$color-dark: #7d8997;
$color-time: #78cccd;
$color-black-weight: #090909;

$color-twitter: #1DA1F2;
$color-instagram: #E1306C;
$color-facebook: #4267B2;
$color-linkedin: #0e76a8;

$m-01: #FB8A8A;
$m-02: #FFEDC0;

$bg-01: #695681;
$bg-02: #36184F;
$bg-03: #32243E;
 
$g-01: linear-gradient(90deg, #FFEDC0 0%, #FF9D87 100%);
$g-02: linear-gradient(90deg, #8077EA 13.7%, #EB73FF 94.65%);
 
$cubic: cubic-bezier(0.4, 0.35, 0, 1.53);
$cubic2: cubic-bezier(0.18, 0.89, 0.32, 1.15);
 
$circleShadow: inset 5px 20px 40px rgba($bg-02, 0.25),
inset 5px 0px 5px rgba($bg-03, 0.3),
inset 5px 5px 20px rgba($bg-03, 0.25),
2px 2px 5px rgba(white, 0.2);

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-md-1: 767px;
$breakpoint-lg: 992px;
$breakpoint-lg-991: 991px;
$breakpoint-xl: 1200px;