@import './../../../styles/styles.scss';

.filter__brands{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $color-dark;
    margin-bottom: 1.5rem;

    &-title{
        font-size: 1.25rem;
        text-transform: capitalize;
        color: $color-dark;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    &-content{
        li{
           line-height: 1.6;

            input{
                @include width-height(0.9375rem, 0.9375rem);
                cursor: pointer;
            }

            label{
                color: $color-grey;
                @include transition-ease-in-out;
                cursor: pointer;
                margin-left: 0.5rem;
                font-size: 1.125rem;

                &:hover{
                    color: $color-blue-hover;
                    text-shadow: 0px 0px 4px $color-blue-hover;
                }
            }
        }  
    }
}